@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    background-color: white;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    color: aliceblue;
    box-sizing: border-box;
}